{% set article_title = 'article_title_' ~ article.q_name %}
{% set article_text = 'article_text_' ~ article.q_name %}
{% set article_image = article.q_name ~ '_min' %}

<article class="article">
	<h2><strong><a href="{{ path(article.route_name) }}">{{article_title|trans}}</a></strong></h2>
	<img src="{{ asset('images/articles/' ~ article_image ~ '.png') }}" alt="{{article_title|trans}}" width="109px" height="82px" />
	<p>{{article_text|trans}}</p>
</article>